# Portainer Stack Environment Variables (example)
HOST_PORT=8000
SESSION_SECRET=change-me
SETTINGS_PIN=1234
MANAPOOL_EMAIL=
MANAPOOL_ACCESS_TOKEN=
MANAPOOL_BASE_URL=https://manapool.com/api/v1
MANAPOOL_RECENT_MINUTES=10
MANAPOOL_MAX_WORKERS=4
BASIC_AUTH_USER=
BASIC_AUTH_PASS=
